.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    background-image: var(--gradient);
    justify-content: flex-start;
    
}

.name{
  margin-top: 3rem;
  text-align: center;
}

.textSection{
    width: 60vw;
    margin-top: 3rem;
    text-align: justify;
    line-height: 4rem;
}

.title{
    text-align: center;
    margin-top: 2rem;
    color: var(--blue);
    
  }
.text{
    color: var(--white);
    font: var(--headline5);
}

.textHighlighted{
    color: var(--pink);
    font: var(--headline4);
}
.textHighlightedBlue{
    color: var(--blue);
    font: var(--headline4);
}

.email{
    margin-right: 2rem;
    align-self: flex-end;
    letter-spacing: 6px;
    text-shadow: 1px 4px 20px var(--purple);
}